# Replit
.replit
.replit.nix
.replitignore
.replit.env
.repl
repl.it

# Python
venv/
.env
__pycache__/
*.pyc
.python_packages/

# Node
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
*replit*
.replit*
.repl
repl.it
